.inner {
    padding: 0 1rem;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 60rem;
    max-width: 95%;
    box-sizing: border-box;
}

#main_content > ul, #main_content > ul ul, #main_content > ul li {
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  background-color: #fdfdfd;
  border: darkgrey solid 2px;
  border-radius: 4px;
  padding: .5em;
}

.character .info {
  width: fit-content;
}

.character .title {
  display: flex;
}

.character .name {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #303030;
  padding-right: .25em;
}

.character .level {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  height: 48px;
  aspect-ratio: 1;
  border: black 2px solid;
  box-sizing: content-box;
  margin: auto;
  margin-right: .5em;
  display: flex;
  background-color: lemonchiffon;
}

.character .sub-title {
  display: flex;
  flex-direction: column;
  justify-items: right;
  margin-right: 0;
}

.character .player {
  margin-left: auto;
}

.character .hp {
  font-size: x-large;
}

.hp::before {
  content: '\2764:';
  font-family: "Twemoji Mozilla", Apple Color Emoji, "Segoe UI Emoji", "Noto Color Emoji", "EmojiOne Color";
  margin-right: .25em;
}

.character .photo {
  max-width: 400px;
  margin: .5em .25em;
}

img {
  border: 1px solid black;
  border-radius: 20px;
}

.icon-minotaur { background-image: url(../img/minotaur.png);}
.icon-squirrel { background-image: url(../img/squirrel.png);}
.icon-barn-owl { background-image: url(../img/barn-owl.png);}
.icon-shark-jaws { background-image: url(../img/shark-jaws.png);}
.icon-dragon-orb { background-image: url(../img/dragon-orb.png);}
.icon-bear-head { background-image: url(../img/bear-head.png);}
.icon-knapsack { background-image: url(../img/knapsack.png);}

