.inner {
    padding: 0 1rem;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 60rem;
}

.icon {
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: mediumblue;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px;
  width: 2.5em;
  height: 2.5em;
  align-self: center;
  box-shadow: rgba(0, 0, 205, .5) -1px 1px 1px, 
              rgba(0, 0, 205, .5) -1px -1px 1px,
              rgba(0, 0, 205, .5) 1px 1px 1px,
              rgba(0, 0, 205, .5) 1px -1px 1px;
}

.icon-minotaur { background-image: url(../img/minotaur.png);}
.icon-squirrel { background-image: url(../img/squirrel.png);}
.icon-barn-owl { background-image: url(../img/barn-owl.png);}
.icon-shark-jaws { background-image: url(../img/shark-jaws.png);}
.icon-dragon-orb { background-image: url(../img/dragon-orb.png);}
.icon-bear-head { background-image: url(../img/bear-head.png);}
.icon-knapsack { background-image: url(../img/knapsack.png);}

